* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.inicio {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #95b7c9;
  background: radial-gradient(circle, #95b7c9 8%, #0d56c7 100%);
  z-index: 1000;
  color: antiquewhite;
  font-size: 20px;
  color: black; }

.header {
  color: black;
  background: #95b7c9;
  background: radial-gradient(circle, #95b7c9 8%, #0d56c7 100%);
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }

.header__icono {
  display: flex;
  display: none; }

.header__titulo {
  align-self: flex-start;
  font-size: 42px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.barra__inicio {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif; }

.barra__item--cerrar {
  display: none; }

.barra__item a {
  display: flex;
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 5px;
  margin-bottom: 15px;
  font-size: 30px;
  border: 2px; }

.main {
  position: static;
  z-index: 1000;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  align-content: center; }

.main__carrusel {
  margin: 1px;
  align-items: center;
  width: 100%; }

.main__modelos {
  list-style: none;
  padding: 1rem;
  border-radius: 5%;
  background-color: #2c4444; }

.main__modelos a {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 30px;
  color: antiquewhite; }

.main__mapa {
  height: 380px;
  width: 380px;
  border-style: groove;
  margin-right: none; }

.nosotros {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px; }

.nosotros__parrafo {
  margin-bottom: 35px;
  margin-left: 25px;
  margin-right: 25px; }

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border-radius: 2px;
  color: black solid; }

.form__all {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 5%;
  justify-items: center;
  padding: 1rem; }

.form__imagen {
  display: flex;
  align-content: center;
  width: 300px;
  height: 300px; }

.footer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 25px; }

.footer__p {
  display: flex;
  justify-self: flex-start; }

.footer__a {
  list-style: none;
  text-decoration: none;
  display: flex;
  position: absolute;
  justify-self: center;
  align-self: center;
  margin: 10px;
  font-size: 30px;
  color: black;
  margin: 50%; }

.buscador {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding: 1rem;
  border: 2px;
  color: black solid; }

.buscar__sub {
  font-style: oblique;
  padding: 1rem;
  margin: 2rem; }

.buscador__seccion {
  list-style: none;
  color: black;
  padding: 1rem;
  margin-top: 7px;
  margin-bottom: 25px; }

.buscador__seccion__titulos {
  margin-bottom: 55px; }

.buscador__img {
  margin: 1rem;
  height: 60%;
  width: 90%; }

.buscador__seccion--oporunidades {
  height: 30%;
  width: 30%;
  margin: 15px 4px 15px 4px; }

.publicar__sub {
  margin-top: 25px;
  margin-left: 25px; }

.publicar__datos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px 15px 15px 15px;
  padding: 1rem; }

.publicar__imagenes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 1rem;
  border: 2px;
  color: black solid; }

.publicar__imagenes1 {
  list-style: none;
  border-radius: 5%;
  background-color: white;
  width: 30%;
  height: 400px;
  align-items: baseline;
  padding: 1rem;
  margin-top: 7px;
  margin-bottom: 25px; }

.publicar__imagenes2 {
  margin: 1rem; }

.publicar__boton {
  display: flex;
  list-style: none;
  border-radius: 5%;
  background-color: antiquewhite;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  align-items: center;
  padding: 1rem;
  margin-top: 7px;
  margin-bottom: 25px;
  margin-left: 15px; }

.miperfil {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  padding: 1rem; }

.miperfil__form {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 30%;
  height: 750px;
  border-radius: 12px;
  background-color: white;
  align-items: center;
  padding: 2rem;
  margin-top: 7px;
  margin-bottom: 25px;
  margin-left: 15px; }

.miperfil__img {
  margin: 2rem;
  width: 100%;
  height: 40%; }

@media screen and (max-width: 1023px) {
  .main {
    display: flex;
    margin-top: 0px;
    margin-bottom: 25px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 12px; }
  .main__modelos {
    margin-top: 25px;
    align-items: center; }
  .main__modelos a {
    margin: 7px;
    align-items: center;
    padding: 1rem;
    border-bottom: solid; }
  .main__imagen {
    height: 400px;
    width: 100%;
    display: flex;
    margin: 7px;
    justify-content: center; }
  .main__mapa {
    display: none;
    margin: 7px;
    position: relative;
    align-content: center; }
  .footer {
    display: flex;
    align-content: space-around;
    flex-direction: column-reverse; }
  .footer__p {
    margin: 0px; }
  .footer__a {
    margin: 7px;
    position: relative; }
  .buscador {
    width: 100%;
    margin: 25px;
    font-style: unset; }
  .publicar__datos {
    flex-wrap: wrap;
    padding: 2px;
    justify-content: left; }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3px; }
  .form__all {
    flex-wrap: wrap; } }

@media screen and (max-width: 600px) {
  .barra__inicio {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #124583;
    width: 60%;
    height: 100vh; }
  .barra__item a {
    border-bottom: solid; }
  .header__icono {
    display: block; }
  .barra__inicio:target {
    display: block; }
  .barra__item--cerrar {
    display: block; }
  .miperfil {
    display: flex;
    flex-direction: column; }
  .miperfil__form {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 90%;
    height: 700px;
    border-radius: 5%;
    background-color: #2c4444;
    color: antiquewhite;
    align-items: center;
    padding: 2rem;
    margin-top: 7px;
    margin-bottom: 25px;
    margin-left: 15px; }
  .miperfil__img {
    margin: 2rem;
    width: 100%;
    height: 40%; }
  .buscador {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 90%; }
  .buscador__seccion {
    align-items: center;
    direction: rtl;
    width: 90%; }
  .publicar__imagenes {
    flex-direction: column;
    margin: 15px; }
  .publicar__imagenes1 {
    width: 90%; } }
