* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inicio {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgb(186, 195, 200);
  font-size: 20px;
  color: $color_letras;
}