* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inicio {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgb(149,183,201);
  background: radial-gradient(circle, rgba(149,183,201,1) 8%, rgba(13,86,199,1) 100%);    z-index: 1000;  color: antiquewhite;
  font-size: 20px;
  color: $color_letras;
}