
.header {
    color: $color_letras;
    background: rgb(227,255,191);
    background: linear-gradient(140deg, rgba(227,255,191,1) 3%, rgba(16,150,133,1) 100%);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .header__icono {
    display: flex;
    display: none;
    margin: 0;
    display:inline-block;
    height: 18px;
    float:none; 
    
    & img {
      margin: 0;
    display:none;
    height: 35px;
    float:none;
    }
    
  }
  
  .header__titulo {
    align-self: flex-start;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
  .barra__inicio {
  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .barra__item--cerrar {
    display: none;
  }
  
  .barra__item a {
  
    display: flex;
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
    font-size: 30px;
    border: 2px;
  

    &:hover{ 
      color: rgba(13,86,199,1);
  
  }
}