.miperfil {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    padding: 1rem;
  
  
  }
  
  .miperfil__form {
  
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 30%;
    height: 750px;
    border-radius: 12px;
    background-color: gainsboro;
    align-items: center;
    padding: 2rem;
    margin-top: 7px;
    margin-bottom: 25px;
    margin-left: 15px;
  
  }
  
  .miperfil__img {
    margin: 2rem;
    width: 100%;
    height: 40%;
  }
  